# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

## Objectives
1. Python
2. SQL
3. R
4. Jullia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly
4. Scikit-learn
5. Matplotlib

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Zeppelin            |

## Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shah Fahad